<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Chat Alvin</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
	<script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>

  <!-- VueFire -->
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>
<body>
	<div class="container" id="app">
		<div class="text-center" v-if="!status">
	      <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
		  <div class="form-group">
		  	<label for="inputEmail" class="sr-only">Nick Name</label>
     		<input type="email" id="inputEmail" class="form-control" placeholder="Nick Name" required="" autofocus="" v-model="user_name" v-on:keyup.enter="startChat()">
		    <small id="emailHelp" class="form-text text-muted">create nick name and start chat</small>
		  </div>
		  <button type="button" class="btn btn-primary" @click="startChat()">Chat</button>
		</div>
		<div class="messaging" v-if="status">
		<h3 class=" text-center">Chat Room</h3>
	      <div class="inbox_msg">
		        <div class="inbox_people">
		          <div class="headind_srch">
		            <div class="recent_heading">
		              <h4>Room</h4>
		            </div>
		            <div class="srch_bar">
		              <div class="stylish-input-group">
		                <input type="text" class="search-bar"  placeholder="create new room" v-model="new_room" v-on:keyup.enter="createNewRoom()" >
		                <span class="input-group-addon">
		                <!-- <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button> -->
		                </span> </div>
		            </div>
		          </div>
		          <div class="inbox_chat">
		            <div class="chat_list" v-for="roomchat in dbFirebaseRoomMessage" :class="roomchat['.key'] == chat_room ? 'active_chat' : ''" @click="changeRoom(roomchat['.key'])">
		              <div class="chat_people">
		                <div class="chat_ib">
		                  <h5>{{roomchat['.key']}}</h5>
		                </div>
		              </div>
		            </div>
		            <div class="chat_list" v-if="new_room != ''">
		              <div class="chat_people">
		                <div class="chat_ib">
		                  <h5>{{new_room}}</h5>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="mesgs">

		          <div class="msg_history">

		            <div v-for="chat in dbFirebaseMessage" :class="chat.user_name == user_name ? 'outgoing_msg' : 'incoming_msg' ">
		              	<div class="incoming_msg_img" v-if=" chat.user_name != user_name ">
		              		<img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
		              	</div>
		              	<div v-if="chat.user_name != user_name" :class="chat.user_name == user_name ? 'sent_msg' : 'received_msg' ">
		                	<div class="received_withd_msg" >
		                  		<p>{{chat.message}}</p>
		                  		<span class="time_date"> Name : <strong>{{chat.user_name}}</strong> | {{chat.created_at | moment}} </span>
		                  	</div>
		              	</div>
		              	<div class="sent_msg" v-else>
			                <p>{{chat.message}}</p>
			                <span class="time_date"> Name : <strong>{{chat.user_name}}</strong> | {{chat.created_at | moment}} </span> 
		            	</div>
		            </div>
		           <!--  <div class="outgoing_msg">
		              <div class="sent_msg">
		                <p>Test which is a new approach to have all
		                  solutions</p>
		                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
		            </div>
		            <div class="incoming_msg">
		              <div class="received_msg">
		                <div class="received_withd_msg">
		                  <p>Test, which is a new approach to have</p>
		                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
		              </div>
		            </div> -->
		            <div class="outgoing_msg" v-if="messageInput != ''">
		              	<div class="sent_msg">
		                	<p>{{messageInput}}</p>
		                </div>
		            </div>
		          </div>
		          <div class="type_msg">
		            <div class="input_msg_write">
		              <input type="text" class="write_msg" placeholder="Type a message" v-model="messageInput" v-on:keyup.enter="pushMessageChat()" />
		              <button class="msg_send_btn" type="button" @click="pushMessageChat()"><i class="fa fa-paper-plane-o" aria-hidden="true" ></i></button>
		            </div>
		          </div>
		        </div>
	      	</div>
	  	</div>
	</div>
	<!-- script bootstrap -->
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!-- script app -->
	<script src="script.js" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>